body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Landing page bar graph text */
.graph {
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
}

.transparent {
  background:rgba(59, 59, 59, 0.5);
  padding-top: 20px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

/*Remove margin from landing page*/
.remove-margin {
  width: 100%;
  padding-top: 10px;
  min-height: 100vh;
  padding-top: 50px;
}

.navbar-custom {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  border: 0;
  border-bottom: 1px solid dodgerblue;
  background-image: none;

}

.get-moving {
  color: #fff;
  font-size: 112px;
  font-family: 'Impact';
  letter-spacing: 24px;
}

.landing-side-pane {
  padding-top: 20px;
}

@media (min-width: 1600px) {
  .extra-pull {
    margin-right: -15%;
  }
}

@media (min-width: 1920px) {
  .extra-pull {
    margin-right: -30%;
  }
}

/*Bar graph shapes*/
.bar {
  height: 20px;
  background-color: dodgerblue;
}

