body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Bar graph shapes*/
.bar {
  padding: 5px;
  margin: 10px;
  color: dodgerblue;
  background-color: dodgerblue;
  display: inline-block;
  font: 'Arial Narrow';
  font-weight: bold;
}

/* Landing page bar graph text */
.graph-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.graph-column {
  display: flex;
  flex-direction: column;
}
.graph-item {
  color: azure;
  font: 'Arial Narrow';
  font-weight: bold;
  padding: 10%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}



.transparent {
  background:rgba(30, 30, 30, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  margin-left: 15px;
}

/*Remove margin from landing page*/
.remove-margin {
  width: 100%;
  padding-top: 10px;
  min-height: 100vh;
  padding-top: 50px;
}

.navbar-custom {
  margin-bottom: 0;
  border-radius: 0;
  background-color: black;
  border: 0;
  border-bottom: 1px solid dodgerblue;
  background-image: none;

}

.font-get-moving {
  color: #fff;
  font-size: 90px;
  font: 'Lulo Clean';
  font-weight: 900;
  letter-spacing: 12px;
  margin-top:50px;
}
.font-mission {
  color: #fff;
  font-size: 70px;
  font: 'Arial Unicode MS';
  font-weight: 700;
  letter-spacing: 12px;
}
.font-to-the {
  color: #fff;
  font-size: 26px;
  font: 'Arial Narrow';
  font-weight: 600;
  letter-spacing: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.social-media-row {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.landing-side-pane {
  padding-top: 20px;
}

@media (min-width: 1600px) {
  .extra-pull {
    margin-right: -15%;
  }
}

@media (min-width: 1920px) {
  .extra-pull {
    margin-right: -30%;
  }
}



